<div class="project-media">
	%%FEATUREDIMAGE size="bryte-thumb-l"%%
	<div class="hover-content column-format invert">
		<div class="project-cat">%%TERMSLIST type="projects_category"%%</div>
		%%TITLE%%
		<div class="project-meta entry-meta">
			%%DATE%%
			%%AUTHOR%%
		</div>
		%%CONTENT number_of_words="15"%%
	</div>
</div>