.isStuck {
	box-shadow: $header__shadow;
	@include media-breakpoint-up(sm) {
		position: fixed !important;
		z-index: 1000;
		margin: 0 !important;
		width: 100%;
		left: 0;
		right: 0;
	}
	&#main-menu {
		padding: 10px 0 !important;
		justify-content: center;
	}
	&.vertical-menu-toggle-holder {
		padding: 10px 0 !important;
		display: flex;
		.menu-toggle {
			margin-left: auto;
			margin-right: auto;

			.style-3 & {
				margin-right: 60px;
			}
			.style-7 & {
				margin-left: 60px;
			}
		}
	}
	.site-header &.header-container.stuckMenu {
		@include media-breakpoint-up(sm) {
			position: fixed !important;
		}
	}
}

.pseudoStickyBlock {
	@include media-breakpoint-down(xs) {
		display: none !important;
	}
	width: 100%;
	margin: 0 !important;
	.site-header.transparent & {
		position: absolute !important;
	}
}