$top-panel-gutter: 15px;

.top-panel {
	padding-top: 20px;
	padding-bottom: 20px;
	@include media-breakpoint-up(md) {
		padding-top: 7px;
		padding-bottom: 7px;
	}

	&__container {
		display: flex;
		flex-flow: column nowrap;
		@include grid-indent($top-panel-gutter);

		@include media-breakpoint-up(md) {
			flex-flow: row wrap;
			align-items: center;
			justify-content: space-between;
		}

		> * + * {
			margin-top: 10px;
			@include media-breakpoint-up(md) {
				margin-top: 0;
			}
		}
	}

	&__wrap-items {
		&:only-child {
			flex-grow: 1;
		}
	}

	&__menus {
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		justify-content: space-between;
		@include grid-indent($top-panel-gutter);
	}

	&__message {
		@include font-size(.75);
		padding-top: 5px;
		padding-bottom: 5px;
		text-align: center;
		@include media-breakpoint-up(md) {
			text-align: left;
		}

		& + .contact-block {
			@include media-breakpoint-up(md) {
				order: 5;
				width: 100%;
			}
		}
	}
}