.widget {
	ul {
		margin-bottom: 0;
		padding: 0;
		margin-left: 0;
		list-style: none;
		li {
			&+li,
			>ul li,
			>ol li {
				margin-top: 11px;
			}
			>ul {
				margin-left: 10px;
			}
		}
	}
}


/*--------------------------------------------------------------
## Widget Categories
--------------------------------------------------------------*/

.widget_categories {
	ul li {
		display: block;
	}
}


/*--------------------------------------------------------------
## Widget Calendar
--------------------------------------------------------------*/

.widget_calendar {
	table {
		margin-bottom: 0;
		table-layout: fixed;
		width: 100%;
		border-collapse: separate;
		border-spacing: 5px;
		border: none;
		@include media-breakpoint-up(xl, $grid-breakpoints-old) {
			border-spacing: 10px;
		}
		th,
		td,
		thead th,
		tbody+tbody {
			border: none;
		}
		td#today {
			color: $color__white;
		}
	}
	caption {
		margin-bottom: 13px;
		text-align: left;
	}
	th {
		padding: 0 0 4px;
		font-weight: inherit;
	}
	tbody td {
		position: relative;
		@include font-size(12/16);
		padding: 0 1px;
		text-align: center;
		@include border-radius();
		line-height: 34px;
		@include media-breakpoint-up(xl, $grid-breakpoints-old) {
			line-height: 43px;
		}
		a {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			@include border-radius();
			color: inherit;
		}
	}
	tfoot td {
		padding-top: 18px;
	}
	#next {
		text-align: right;
	}
}


/*--------------------------------------------------------------
## Widget Tag Cloud
--------------------------------------------------------------*/

.tagcloud {
	margin: -1.5px;
	font-size: 0;
	line-height: 0;
	a {
		display: inline-block;
		margin: 1.5px;
		padding: 9px 19px;
		vertical-align: top;
		text-decoration: none;
		border: 1px solid $color__background-hr;
		text-transform: uppercase;
		@include border-radius;
		.invert & {
			color: $color__white;
		}
		.footer-area & {
			border-color: rgba($color__background-hr, .15);
		}
	}
}


/*--------------------------------------------------------------
## Widget Recent Posts
--------------------------------------------------------------*/

.widget_recent_entries {
	ul li {
		a {
			font-weight: 700;
		}
		&+li {
			margin-top: 20px;
		}
		.post-date {
			display: block;
			margin-top: 6px;
		}
	}
}


/*--------------------------------------------------------------
## Widget Recent Comments
--------------------------------------------------------------*/

.widget_recent_comments {
	ul li {
		@include font-size(12/16);
		@extend .clear;
		&+li {
			margin-top: 19px;
		}
		.comment-author-link {
			font-weight: bold;
			&~a {
				@include font-size(16/16);
				font-weight: bold;
				margin-top: 6px !important;
				&:before {
					content: '';
					display: block;
				}
			}
		}
	}
}


/*--------------------------------------------------------------
## Widget Search
--------------------------------------------------------------*/

.widget_search {
	.sidebar & {
		.widget-title {
			margin-bottom: 1.42em;
		}
	}
	.search-form {
		&__input-wrap {
			.invert & i {
				color: $color__white;
			}
		}
	}
}