/* #Button Appearance Styles (regular scheme) */
.link {
	color: $regular_link_hover_color;
}
.link:hover {
	color: $regular_link_color;
}
.invert .link {
	color: $invert_link_color;
}
.link:hover,
.invert .link:hover {
	color: $invert_link_hover_color;
}

.btn,
.btn-defaul,
.btn-primary,
.cta-form_submit,
.cta-button,
.btn-secondary {
	font-style: $navigation_font_style;
	font-weight: $navigation_font_weight;
	font-size: $navigation_font_size{px};
	line-height: $navigation_line_height;
	font-family: @font_family( $navigation_font_family );
	letter-spacing: $navigation_letter_spacing{em};
}

.btn-secondary {
	background-color: $regular_accent_color_2;
	border-color: $regular_accent_color_2;
}
.btn-secondary:hover {
	background-color: $regular_accent_color_1;
	border-color: $regular_accent_color_1;
}
.btn-secondary:active {
	box-shadow: 0 0 10px $regular_accent_color_1;
}

.error-404 .btn-secondary:hover {
	color: $invert_link_color;
	border-color: $invert_link_color;
}