.site {
	overflow: hidden;
	min-height: 100vh;

	&-header,
	&-content,
	&-footer {
		
	}

	&-content {
		flex: auto;
		min-height: 1px;

		.elementor-page &:not(.container) {
			margin-left: 0;
			margin-right: 0;
		}
	}

	&-main{
		margin-bottom: 60px;

		.woocommerce &,
		.elementor-page & {
			margin-bottom: 0;
		}
	}

	&-content_wrap {
		margin-top: .5em;

		.elementor-page & {
			margin-top: 0;
		}

		.error404 &,
		.search.search-no-results & {
			margin-bottom: 3em;
		}

		.single.single-post-modern & {
			margin-top: 3em;
			@include media-breakpoint-up(xl, $grid-breakpoints-old) {
				margin-top: 7em;
			}
		}

		.sidebar {
			position: relative;

			.position-one-right-sidebar &,
			.position-one-left-sidebar & {
				@include media-breakpoint-up(lg) {
					&:before {
						position: absolute;
						width: 1px;
						height: calc( 100% - 70px );
						content: '';
						background: $color__background-hr;
						top: 0;
					}
				}
			}

			.position-one-right-sidebar & {
				@include media-breakpoint-up(lg) {
					&:before {
						left: 0;
					}
				}
				@include media-breakpoint-up(xl, $grid-breakpoints-old) {
					padding-left: $grid-gutter-width * 1.5;
					&:before {
						left: 25px;
					}
				}
			}
			.position-one-left-sidebar & {
				@include media-breakpoint-up(lg) {
					&:before {
						right: 0;
					}
				}
				@include media-breakpoint-up(xl, $grid-breakpoints-old) {
					padding-right: $grid-gutter-width * 1.5;
					&:before {
						right: 25px;
					}
				}
			}
		}
	}
}

/*--------------------------------------------------------------
## Layout
--------------------------------------------------------------*/
@import "../layout/layout";

/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/
@import "primary/header";

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
@import "primary/posts-and-pages";

/*--------------------------------------------------------------
## Post Formats
--------------------------------------------------------------*/
@import "primary/post-formats";

/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/
@import "primary/footer";
